<div>
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-lg-6 col-xl-12">
                                    <div class="card br-0">
                                        <div class="card-body user-section">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <a class="nav-item nav-link active show quater message-tab" id="custom-nav-comment-tab" data-toggle="tab" href="#custom-nav-comment" role="tab" aria-controls="custom-nav-comment" aria-selected="true">Testimonies</a>
                                                </div>
                                            </nav>
                                            <div id="nav-tabContent" class="tab-content">
                                                <div class="container tab-pane fade active show" id="custom-nav-comment" role="tabpanel" aria-labelledby="custom-nav-comment">
                                                    <div class="exxrow giving-opt">
                                                        <h6>Testimonies Approval</h6>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="card-body comment">
                                                                <div class="custom-tab comment">
                                                                    <nav>
                                                                        <div class="nav nav-tabs" style="border-bottom: 1px solid #dee2e6;" id="nav-tab" role="tablist">
                                                                            <a class="nav-item nav-link active show" id="custom-nav-all-tab" data-toggle="tab" href="#custom-nav-all" role="tab" aria-controls="custom-nav-all" aria-selected="true">All</a>
                                                                            <a class="nav-item nav-link" id="custom-nav-approved-tab" data-toggle="tab" href="#custom-nav-approved" role="tab" aria-controls="custom-nav-approved" aria-selected="false">Approved</a>
                                                                            <a class="nav-item nav-link" id="custom-nav-rejected-tab" data-toggle="tab" href="#custom-nav-rejected" role="tab" aria-controls="custom-nav-rejected" aria-selected="false">Rejected</a>
                                                                        </div>
                                                                    </nav>
                                                                    <div class="tab-content" id="nav-tabContent" style="    border: 1px solid lightgray;">
                                                                        <div class="tab-pane fade active show" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                                                                            <div class="table-stats order-table ov-h">
                                                                                <table class="table ">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th style="width: 5%"></th>
                                                                                        <th style="width: 15%">Name</th>
                                                                                        <th style="width: 45%">Comments</th>
                                                                                        <th style="width: 15%">Date</th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            David Matthews
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 25 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-declined">Declined <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="custom-nav-approved" role="tabpanel" aria-labelledby="custom-nav-approved-tab">
                                                                            <div class="table-stats order-table ov-h">
                                                                                <table class="table ">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th style="width: 5%"></th>
                                                                                        <th style="width: 15%">Name</th>
                                                                                        <th style="width: 45%">Comments</th>
                                                                                        <th style="width: 15%">Date</th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            David Matthews
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 25 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-declined">Declined <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                        <div class="tab-pane fade" id="custom-nav-rejected" role="tabpanel" aria-labelledby="custom-nav-rejected-tab">
                                                                            <div class="table-stats order-table ov-h">
                                                                                <table class="table ">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th style="width: 5%"></th>
                                                                                        <th style="width: 15%">Name</th>
                                                                                        <th style="width: 45%">Comments</th>
                                                                                        <th style="width: 15%">Date</th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            James ojo
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> 1 hour ago </td>
                                                                                        <td>
                                                                                            <span class="badge badge-pending">Pending <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            David Matthews
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 25 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-declined">Declined <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="comment-background">
                                                                                        <td class="serial"><div class="form-group form-check">
                                                                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                                                        </div></td>
                                                                                        <td>
                                                                                            Joseph Ayoola
                                                                                        </td>
                                                                                        <td style="display: flex"><i class="fas fa-pen editicon color-primary"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                        <td> Sep 26 </td>
                                                                                        <td>
                                                                                            <span class="badge badge-approved">Approved <i class="fas fa-caret-down editicon2"></i></span><i class="fas fa-trash"></i>
                                                                                        </td>
                                                                                    </tr>

                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.card -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .animated -->
    </div>
</div>
