.card-header {
    background: none !important;
}
.nav{
    padding-left: inherit !important;
}
.filtertop{
    padding: 20px 10px !important;
    padding-right: inherit !important;
    font-size: 10px;
}
