<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <ul class="nav nav-pills filtertop" id="pills-tab" role="tablist" style="justify-content: center">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill"  role="tab" aria-selected="true">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill"  role="tab" aria-selected="false">Paid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" role="tab" aria-selected="false">Certified Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="max-width: 48px;" role="tab"><img src="assets/img/filter.svg" /></a>
                    </li>
                </ul>
                <div class="card">
                    <form class="frbody">
                        <div class="form-group mb0">
                            <input type="email" class="form-control find-request" placeholder="Find Requests">
                        </div>
                    </form>
                    <div class="card-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle toghead" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-decoration: none !important; color: inherit !important;">
                                            Gender
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse show">
                                    <div class="panel-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Men
                                            </label>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                Women
                                            </label>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="text-decoration: none !important; color: inherit !important;">
                                            Age Group
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse show">
                                    <div class="panel-body">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                13 - 17
                                            </label>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                18 - 24
                                            </label>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                25 - 40
                                            </label>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                            <label class="form-check-label" for="exampleRadios2">
                                                40 - 60
                                            </label>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                                Above 60
                                            </label>
                                            <div class="progress mb-2" style="height: 5px;">
                                                <div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-8">
                <div class="row">
                    <div class="col-lg-4 col-md-4  ">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-align">
                                        <div class="text-left dib">
                                            <div class="stat-heading">Active Users</div>
                                            <div class="stat-text"><span class="count">0</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4  ">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-align">
                                        <div class="text-left dib">
                                            <div class="stat-heading">Paid Subscribers</div>
                                            <div class="stat-text"><span class="count">0</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4  ">
                        <div class="card">
                            <div class="card-body">
                                <div class="stat-widget-five">
                                    <div class="stat-align">
                                        <div class="text-left dib">
                                            <div class="stat-heading">New Users</div>
                                            <div class="stat-text"><span class="count">0</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-lg-6 col-xl-12">
                                <div class="card br-0">
                                    <div class="card-body user-section">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="background: #e1e8ee4d ">
                                                <a class="nav-item nav-link active half" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">Active Users</a>
                                                <a class="nav-item nav-link half" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">Paid Subscribers</a>
                                            </div>
                                        </nav>
                                        <ul class="pt20">
                                            <div class="list-users">
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Eddie Opkala</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Web Developer</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Anita Davids</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Project Manager</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Adams Oye</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Web Developer</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Lola Rotimi</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Project Manager</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Seyi Jacobs</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Web Developer</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Folarin Adelesi</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Project Manager</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Sandra Derina</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Web Developer</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Sola Disu</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Project Manager</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Ladi Ajayi</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Web Developer</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="col-md-6 pad">
                                                    <div class="card-header user-header alt ">
                                                        <div class="media">
                                                            <a href="#">
                                                                <img class="align-self-center rounded-circle mr-3" style="width:50px; height:50px;" alt="" src="assets/img/avatar.jpg">
                                                            </a>
                                                            <div class="media-body">
                                                                <h2 class="users-h2">Wunmi Ade</h2>
                                                                <p class="users-p">Lagos Island, Lagos</p>
                                                                <p class="users-p">Project Manager</p>
                                                            </div>
                                                            <div class="dots">
                                                                <i class="fas fa-ellipsis-v"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </div><!-- /.card -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade none-border" id="event-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"><strong>Add New Event</strong></h4>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success save-event waves-effect waves-light">Create event</button>
                        <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#event-modal -->
    </div>
    <!-- .animated -->
</div>
<!-- /.content -->
<div class="clearfix"></div>
