.notifier__notification--material {
    border-radius: 30px !important;
    color: #fff !important;

    p{
        color: #fff !important;
    }
}

.notifier__notification--material .notifier__notification-message{
    color: #fff !important;
}

.nav-item {
    cursor: pointer !important;
}
