<div [@routerTransition]>
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="row">
                                <div class="col-lg-6 col-xl-12">
                                    <div class="card br-0">
                                        <div class="card-body user-section">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <a class="nav-item nav-link active show quater message-tab" id="custom-nav-comment-tab" data-toggle="tab" href="#custom-nav-comment" role="tab" aria-controls="custom-nav-comment" aria-selected="true">Subscriptions</a>
                                                </div>
                                            </nav>
                                            <div id="nav-tabContent" class="tab-content">
                                                <div class="container tab-pane fade active show" id="custom-nav-comment" role="tabpanel" style="padding: 20px 40px;">
                                                    <div class="exxrow giving-opt">
                                                        <h6>Subscriptions</h6>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <form>
                                                                <div class="form-group">
                                                                    <label class="message-label" >Amount</label>
                                                                    <div class="input-group mb-2 message-textarea">
                                                                        <div class="input-group-prepend">
                                                                            <div class="input-group-text message-textarea"><i class="far fa-credit-card color-primary"></i></div>
                                                                        </div>
                                                                        <input type="text" class="form-control message-textarea">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="message-label" >Duration</label>
                                                                    <select id="inputState" class="form-control message-textarea">
                                                                        <option selected>Montly</option>
                                                                        <option>...</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="message-label">Description (optional)</label>
                                                                    <textarea class="form-control message-textarea" rows="7"></textarea>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="message-btn" style="padding: 7px 25px !important;">Submit</button>
                                        </div>
                                    </div><!-- /.card -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .animated -->
    </div>
</div>
