<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-lg-6 col-xl-12">
                                <div class="card br-0">
                                    <div class="card-body user-section">
                                        <nav>
                                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                <a class="nav-item nav-link active show quater message-tab" id="custom-nav-comment-tab" data-toggle="tab" href="#custom-nav-comment" role="tab" aria-controls="custom-nav-comment" aria-selected="true">Enquiries</a>
                                            </div>
                                        </nav>
                                        <div id="nav-tabContent" class="tab-content">
                                            <div class="container tab-pane fade active show" id="custom-nav-comment" role="tabpanel" aria-labelledby="custom-nav-comment">
                                                <div class="exxrow giving-opt">
                                                    <h6>Enquiries List</h6>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="card-body comment">
                                                            <div class="custom-tab comment">
                                                                <div class="tab-content" id="nav-tabContent" style="    border: 1px solid lightgray;">
                                                                    <div class="tab-pane fade active show"  role="tabpanel" >
                                                                        <div class="table-stats order-table ov-h enquires">
                                                                            <table class="table ">
                                                                                <thead>
                                                                                <tr>
<!--                                                                                    <th style="width: 15%">Name</th>-->
<!--                                                                                    <th style="width: 60%">Enquiry List</th>-->
<!--                                                                                    <th style="width: 15%">Date</th>-->
                                                                                    <th>Name</th>
                                                                                    <th>Enquiry List</th>
                                                                                    <th>Date</th>
                                                                                    <th>Action</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr>

                                                                                    <td>
                                                                                        James ojo
                                                                                    </td>
                                                                                    <td style="display: flex; width: 300px;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td style="width: 150px"> 1 hour ago </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>

                                                                                    <td>
                                                                                        James ojo
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> 1 hour ago </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>

                                                                                    <td>
                                                                                        James ojo
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> 1 hour ago </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="comment-background">

                                                                                    <td>
                                                                                        Joseph Ayoola
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> Sep 26 </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="comment-background">

                                                                                    <td>
                                                                                        Joseph Ayoola
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> Sep 26 </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="comment-background">

                                                                                    <td>
                                                                                        Joseph Ayoola
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> Sep 26 </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="comment-background">

                                                                                    <td>
                                                                                        Joseph Ayoola
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> Sep 26 </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="comment-background">

                                                                                    <td>
                                                                                        Joseph Ayoola
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> Sep 26 </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr class="comment-background">

                                                                                    <td>
                                                                                        Joseph Ayoola
                                                                                    </td>
                                                                                    <td style="display: flex"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor igiat </td>
                                                                                    <td> Sep 26 </td>
                                                                                    <td>
                                                                                        <span class="badge badge-reply"><i class="fas fa-envelope editicon"></i> Reply</span>
                                                                                    </td>
                                                                                </tr>

                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!-- /.card -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .animated -->
</div>
