<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/message']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fas fa-scroll"></i>&nbsp;
            <span>{{ 'Message' | translate }}</span>
        </a>
        <a [routerLink]="['/give']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fa fa-cogs"></i>&nbsp;
            <span>{{ 'Give' | translate }}</span>
        </a>
        <a [routerLink]="['/events']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon far fa-calendar-alt"></i>&nbsp;
            <span>{{ 'Program or Events' | translate }}</span>
        </a>
        <a [routerLink]="['/comments']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fas fa-comment"></i>&nbsp;
            <span>{{ 'Comments' | translate }}</span>
        </a>
        <a [routerLink]="['/subscription']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon far fa-calendar-check"></i>&nbsp;
            <span>{{ 'Subscription' | translate }}</span>
        </a>
        <a [routerLink]="['/testimonies']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fas fa-comment-medical"></i>&nbsp;
            <span>{{ 'Testimonies' | translate }}</span>
        </a>
        <a [routerLink]="['/prayer-request']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fas fa-book-reader"></i>&nbsp;
            <span>{{ 'Prayer Request' | translate }}</span>
        </a>
        <a [routerLink]="['/counselling']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fas fa-user-friends"></i>&nbsp;
            <span>{{ 'Councelling' | translate }}</span>
        </a>

        <a [routerLink]="['/feedback']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fas fa-poll-h"></i>&nbsp;
            <span>{{ 'Feedback' | translate }}</span>
        </a>
        <a [routerLink]="['/enquiries']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fas fa-question-circle"></i>&nbsp;
            <span>{{ 'Enquiries' | translate }}</span>
        </a>
        <a [routerLink]="['/blog']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="menu-icon fa fa-cogs"></i>&nbsp;
            <span>{{ 'Blog' | translate }}</span>
        </a>

    </div>
    <div class="toggle-button navbar-toggler" [ngClass]="{collapsed: collapsed}" *ngIf="colsidebar" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
    <div class="toggle-button navbar-toggler" [ngClass]="{collapsed: collapsed}"  *ngIf="!colsidebar" >
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Logout' | translate }}</span>
    </div>
</nav>
